* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	.nav {
		background-color: rgb(189, 187, 187);
		font-family: 'Roboto';
		height: 60px;
		font-size: 25px;
		.ul {
			height: 100%;
			display: flex;
			list-style: none;
			justify-content: center;
		}
		li {
			margin-right: 40px;
			margin-left: 40px;
		}
		a {
			line-height: 60px;
			text-decoration: none;
			color: white;
			text-transform: uppercase;
			transition: color 0.3s linear;
		}
		a:hover {
			color: #2b59d8;
		}
	}
	.header {
		position: relative;
		height: 330px;
		background-image: url('../img/kod.\ jpg.jpg');
		background-position: center;
	}
	.heroBg{
		position: absolute;
		width: 100%;height: 100%;
		background-color: #000;
		opacity: .7;
	}
}
